body {
	padding-top: 40px;
}

.jumbotron-aboutme{
  background-image: url("../media/background.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 1100px;
}

.jumbotron-aboutme h2{
	font-weight: bold;
	margin: 100px 0 40px 0;
}


/*Home page*/
.name{
	font-family: monospace;
	font-size: 20px;
	color: black;
	font-weight: bold;
	margin: 0;
}

/*Home page*/
.title {
	font-family: monospace;
	font-size: 5px;
	color: #666666;
	margin: 40px 0 40px 0;
	font-style: italic;
}

.description {
	font-family:  "pressura", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: black;
	font-size: 17px;
	line-height: 300%;
}